header 
{
    background: rgb(218, 162, 60);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 99px;
    color: rgb(8, 10, 10);
    border-bottom: 3px solid rgb(2, 14, 13); 
}
#Container
{
    width: 1560px;
    margin: 0px auto;
    border: 0px solid rgb(7, 7, 7);
}
#content2
{
    float: center;
    width: 80%;
    background: rgb(243, 178, 81);
    min-height: 150px
}
nav
{
    background: rgb(222, 241, 46);
    height: 55px;
    border-bottom: 3px solid black;
    color: aquamarine;
    text-align: center;
}/*Cambié el color de fondo y el tamaño y color del bordo*/

nav ul li
{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    text-align: center;
}
.article
{
    color: rgb(16, 16, 17);
    margin-top: 15px;
    margin-bottom: 0px;
    border-bottom: 1px solid white;
}
body{
    background: rgb(196, 153, 104);
    font-family: 'Times New Roman', Times, serif;
}
nav.centrado {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    background: #d1863f;
  }
  
  nav.centrado a {
    text-decoration: none;
    color: #fffffd;
    padding: 5px 15px;
  }

  #Container1
{
    width: 1580px;
    margin: 0px auto;
    border: 0px solid rgb(7, 7, 7);
}
.cuerpo{
    float: right;
    margin-right: 60px;
    margin-top: 22px;
}
.cabeza{
    float: right;
    margin-right: 80px;
    margin-bottom: 20px;
}
.mastil{
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}
.puente{
    float: right;
    margin-right: 60px;
    margin-top: 1px;
}
.cuerdas{
    float: right;
    margin-right: 60px;
    margin-top: 20px;
}

#container2{
    width: 1560px;
    margin: 0px auto;
    border: 0px solid rgb(7, 7, 7);
}
.notas{
    float: right;
    margin-right: 60px;
    margin-top: 1px;
}
.plumilla{
    float: right;
    margin-right: 250px;
    margin-top: 70px;
}
.capo{
    float: right;
    margin-right: -350px;
    margin-top: 70px;
}
.afina{
    float: right;
    margin-right: 200px;
    margin-top: 1px;
}
.acordes{
    float: right;
    margin-right: 180px;
    margin-top: 100px;
}